body {
    /* Margen predeterminado */
    margin: 0;
    /* Margen pa dentro */
    padding: 0;
    /* Tamaño del texto */
    font-size: 13px;
    /* Fuente del texto */
    font-family: Arial, Helvetica, sans-serif;
}

/*********************************************/
/*********************************************/
/*********************************************/
/*Navegación */

header {
    /* width - ancho    height-alto */
    width: 100%;
    height: 55px;
}

header nav {
    /* Como se puede mover el elemento */
    display: flex;
    justify-content:flex-end
}

header nav .nav-right-section {
    /* Eliminar viñetas - none */
    list-style: none;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Altura */
    height: auto;
    font-size: 15px;
}

header nav .nav-right-section a {
    /* Color del texto */
    color: #c9184a;
    /*Linea debajo del texto*/
    text-decoration: none;
    /* Margen derecho*/
    margin-right: 25px;
}

nav .nav-right-section .gm:hover {
    text-decoration: underline #c9184a;
}

nav .nav-right-section .img:hover {
    text-decoration: underline #c9184a;
}

nav .nav-right-section .menu {
    background-image: url(https://img.icons8.com/ios-glyphs/90/000000/circled-menu.png);
    width: 20px;
    height: 20px;
    /*Contiene a la imagen*/
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 25px;
}

nav .nav-right-section .menu:hover {
    background-color: #ff8fa46e;
    border-radius: 50px;
    width: 30px;
    height: 30px;
}

nav .nav-right-section img {
    border-radius: 150px;
    width: 35px;
}

/*********************************************/
/*********************************************/
/*********************************************/
/*Main */

main {
    text-align: center;
    margin-top: 0px;
}

main .main-logo {
    width: 530px;
    margin: 0 auto;
    margin-bottom: 40px;
}

/*Sección logo  google*/
main .main-logo img{
    height: 100px;
}

/*Sección Input*/
main .main-input{
    width: 550px;
    margin: 0 auto;
    margin-bottom: 40px;
}

/*Caja gris redondeada*/
main .main-input-conteiner { 
    border: 1px solid #ffccd5;
    border-radius: 30px;
    width: 550px;
}

main .main-input input{
    height: 40px;
    width: 460px;
    border: none;
    outline: none;
}

main .main-input .search-icon {
    background-image: url(https://seekicon.com/free-icon-download/search_20.svg);
    background-position: center;
    width: 15px;
    background-size: contain;
    padding-left: 12px;
    background-repeat: no-repeat;
}   

main .main-input .micro-icon { 
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/726px-Google_mic.svg.png);
    width: 15px;
    height: 15px;
    background-size: contain;
    background-position: center;
    padding-left: 5%;
    background-repeat: no-repeat;
}

main .main-input .cam-icon { 
    background-image: url(https://static.wikia.nocookie.net/logopedia/images/2/2b/Google_Lens_2021.svg);
    width: 15px;
    height: 15px;
    background-size: contain;
    background-position: center;
    padding-left: 5%;
    background-repeat: no-repeat;
}

main .main-buttons {
    width: 550px;
    margin: 0 auto;
}

main .main-buttons div {
    display: inline-block;
}

main .main-buttons button {
    border: 0;
    height: 35px;
    background-color: #ffccd5;
    font-size: 14px;
    color: #ff8fa3;
    border-radius: 4px;
    margin-right: 15px;
    padding: 0 15px;
}

main .main-input-conteiner:hover {
    box-shadow: 0 0 5px #c9184a;
    border-color: #c9184a;
}

main .main-buttons button:hover {
    color: #ff758f;
    border: 1px solid #c9184a;
    box-shadow: 0 0 5px #ff758f;
}

main .tex {
    color: #c9184a;
    margin-top: 50px;
}

/*********************************************/
/*********************************************/
/*********************************************/
/* Footer */

footer {
    background-color: #ff758f;
    color: #c9184a;
    display: flex;
    margin-top: 180px;
    display: flex;
    height:140px;
    font-size: 15px;
}

footer .mexico {
    text-align: start;
    padding: 0;
    margin-top: 15;
    margin-left: 20px;
}


footer .footer-left {
    list-style: none;
    display: flex; 
    justify-content: flex-start;
    margin-top: 80px;
}

footer .footer-left .sobre {
    margin-right: 25px;
}

footer .footer-left .sobre:hover { 
    text-decoration: underline #c9184a;
}

footer .footer-left .publicidad { 
    margin-right: 25px;
}

footer .footer-left .publicidad:hover {
    text-decoration: underline #c9184a;
}

footer .footer-left .negocios {
    margin-right: 25px;
}

footer .footer-left .negocios:hover {
    text-decoration: underline #c9184a;
}

footer .footer-left .como:hover {
    text-decoration: underline #c9184a;
}

footer .footer-right {
    list-style: none;
    display: flex;  
    justify-content: flex-end; 
    margin-top: 80px;
    margin-left: 400px;
}

footer .footer-right .priv {
    margin-right: 25px;
}

footer .footer-right .priv:hover {
    text-decoration: underline #c9184a;
}

footer .footer-right .con {
    margin-right: 25px;
}

footer .footer-right .con:hover {
    text-decoration: underline #c9184a;
}

footer .footer-right .pref:hover {
    text-decoration: underline #c9184a;
}
